### IntelliJ IDEA ###
target/
.idea
*.iws
*.iml
*.ipr



# dependencies JS
/node_modules

# testing
/coverage


npm-debug.log*
/.mvn/
/src/main/resources/static/built/bundle.js
/src/main/resources/rebel.xml
